nav{
    background-color:var(--color-primary);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    display: flex;
    padding: 0.7rem  1.7rem;
    z-index: 2;
    bottom: 2rem;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(5px);    
}

nav a {
    padding: 0.9rem;
    color: bisque;
    background: transparent;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
}


nav a:hover {
    color: var(--color-primary);
    background: bisque;
    
}

nav a.active {
    color: var(--color-primary);
    background: var(--color-bg);
    
}
